[submodule ".makefile"]
	path = .makefile
	url = https://github.com/Lecrapouille/MyMakefile.git
[submodule "external/zlib-ng"]
	path = external/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "external/minizip"]
	path = external/minizip
	url = https://github.com/Lecrapouille/minizip
